@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <a href="/LOG_RGLNR">
        <button type="button" class="btn btn-primary btn-lg btn-block">End-To-End User Interface</button>
    </a>
</div>



