<link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-1.13.10/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/cr-1.7.0/datatables.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">


<div class="row mb-3">
    <div class="col">
        <input type="text" id="minRGLNR" class="form-control" placeholder="&#128317; Min. Rechnungslistennummer" aria-label="Min RGLNR">
    </div>
    <div class="col">
        <input type="text" id="maxRGLNR" class="form-control" placeholder="&#128316; Max. Rechnungslistennummer" aria-label="Max RGLNR">
    </div>
</div>
<div class="row mb-3">
    <div class="col-md">
        <div class="input-group">
            <input type="text" name="dates" id="abgdatumzeitRange" class="form-control" placeholder="&#128197; Zeitraum auswählen für" />
            <select id="dateColumnFilter" class="form-select">
                <option value="datum">Datum</option>
                <option value="fällig">Fälligkeit</option>
            </select>
        </div>
    </div>
    <div class="col-sm">
        <select id="companyFilter" class="form-select">
            <option value="">&#9776; Alle Mandanten</option>
            <option value="DN100">Wünsche Handelsgesellschaft International mbH und Co. KG [100]</option>
            <option value="DN200">Dario GmbH & Co. KG [200]</option>
            <option value="DN400">Wünsche Fashion GmbH & Co. KG [400]</option>
            <option value="DN420">Duo Fashion GmbH [420]</option>
            <option value="DN510">Globaltronics GmbH & Co. KG [510]</option>
            <option value="AR">Müller-Licht International GmbH [575]</option>
        </select>
    </div>
</div>
<table id="logRGLNRTable" class="display" style="width:100%" float="left">
    <thead>
        <tr>
            <th>Rechnungslisten<br/> nummer</th>
            <th>AX Rechnungsnummer</th>
            <th>Datum</th>
            <th>Fällig</th>
            <th>Rechnungsbetrag</th>
            <th>EDI-Rechnung</th>
            <th>Lobster Profil</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-1.13.10/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/cr-1.7.0/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        moment.locale('de');
        $(document).ready(function () {
            var table = $('#logRGLNRTable').DataTable({
                "processing": true,
                "serverSide": true,
                "colReorder": true,
                "dom": "lfrBtip",
                "iDisplayLength": 10,
                "oLanguage": {
                    "sUrl": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json",
                    "sSearch": "&#128269; Allgemeine Suche:"
                },
                buttons: [
                              {
                extend: 'copy',
                    exportOptions: {
                        columns: ':visible'
                    },
                    text: 'Kopieren'
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    },
                    text: 'Drucken'
                }, 
                { 
                    extend: 'colvis', 
                    text: 'Spalten ein- und ausblenden' 
                } 
                ],

                "lengthMenu": [[5, 10, 25, 50, 100, 200, 100000], [5, 10, 25, 50, 100, 200, "Alle | ⚠ Nur auf gefilterte Daten anwenden ⚠"]],

                "ajax": {
                    "url": "@Url.Action("LoadData", "LOG_RGLNR")", 
                    "type": "POST",
                    "data": function (d) {
                        d.minRGLNR = $("#minRGLNR").val();
                        d.maxRGLNR = $("#maxRGLNR").val();
                        var dateRangePicker = $("#abgdatumzeitRange").data('daterangepicker');
                        if ($("#abgdatumzeitRange").val()) {
                            var selectedColumn = $('#dateColumnFilter').val();
                            if (selectedColumn === 'datum') {
                                d.startDate = dateRangePicker.startDate.format("YYYY-MM-DD HH:mm");
                                d.endDate = dateRangePicker.endDate.format("YYYY-MM-DD HH:mm");
                                d.faelligStart = null;
                                d.faelligEnd = null;
                            } else {
                                d.faelligStart = dateRangePicker.startDate.format("YYYY-MM-DD HH:mm");
                                d.faelligEnd = dateRangePicker.endDate.format("YYYY-MM-DD HH:mm");
                                d.startDate = null;
                                d.endDate = null;
                                }
                            } else {
                                d.startDate = null;
                                d.endDate = null;
                                d.faelligStart = null;
                                d.faelligEnd = null;
                            }
                        d.companyPrefix = $('#companyFilter').val();
                    }
                },
                "columns": [
                    { "data": "rglnr" },
                    { "data": "rechnung" },
                    { "data": "datum", "render": function (data) { return moment(data).format("DD.MM.YYYY HH:mm"); } },
                    { "data": "fällig", "render": function (data) { return moment(data).format("DD.MM.YYYY HH:mm"); } },
                    { "data": "rechnungsbetrag" },
                    { 
                        "data": "ediStatus", "name": "EDIStatus", "autoWidth": true,
                        "render": function (data, type, row) {
                            if (data === 'Überrtagen') {
                                return 'Ja';
                            } else if (data === 'Bereit') {
                                return 'Nein';
                            } else {
                                return data; 
                            }
                        }
                    },
                    { "data": "profile_name" }
                ],
                "order": [[2, "desc"]]
            });

            $('#abgdatumzeitRange').daterangepicker({
                
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Zurücksetzen',
                    applyLabel: 'Anwenden',
                    format: "DD.MM.YYYY HH:mm"
                }
            });

            $('#abgdatumzeitRange').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD HH:mm') + ' - ' + picker.endDate.format('YYYY-MM-DD HH:mm'));
                table.draw();
            });

            $('#abgdatumzeitRange').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
                table.draw();
            });
            $('#dateColumnFilter').on('change', function () {
                table.draw();
            });

            $("#minRGLNR, #maxRGLNR").keyup(function() {
                table.draw();
            });
            $('#companyFilter').on('change', function() {
                table.draw();
            });
        });
    </script>
}

