<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wünsche Services GmbH &#128309; Monitoring Tool</title>
    <link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-1.13.10/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/cr-1.7.0/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
</head>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="text-shadow: 0.1px 0px 0.5px;">End-to-End Monitoring</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <div class="navbar-nav" id="companyFilter">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-shadow: 0.1px 0px 0.1px;font-weight:bold;">
                            Mandant
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#" data-value="">Alle Mandanten</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="#" data-value="100">Wünsche Handelsgesellschaft mbH und Co. KG [100]</a></li>
                            <li><a class="dropdown-item" href="#" data-value="200">Dario GmbH & Co. KG [200]</a></li>
                            <li><a class="dropdown-item" href="#" data-value="400">Wünsche Fashion GmbH & Co. KG [400]</a></li>
                            <li><a class="dropdown-item" href="#" data-value="420">Duo Fashion GmbH [420]</a></li>
                            <li><a class="dropdown-item" href="#" data-value="510">Globaltronics GmbH & Co. KG [510]</a></li>
                            <li><a class="dropdown-item" href="#" data-value="575">Müller-Licht International GmbH [575]</a></li>
                        </ul>
                    </div>
                    <select id="companyFilter" class="visually-hidden">
                        <option value=""></option>
                        <option value="100"></option>
                        <option value="200" selected></option>
                        <option value="400"></option>
                        <option value="420"></option>
                        <option value="510"></option>
                        <option value="575"></option>
                    </select>
                </div>
            </div>
        </div>
    </nav>
</header>
<span style="color: grey;">@ViewBag.UserSID</span>
<body>
    <div class="row mb-3">
        <div class="col">
            <input type="text" id="minRGLNR" class="form-control" placeholder="&#128317; Min. Rechnungslistennummer" aria-label="Min RGLNR">
        </div>
        <div class="col">
            <input type="text" id="maxRGLNR" class="form-control" placeholder="&#128316; Max. Rechnungslistennummer" aria-label="Max RGLNR">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            <div class="input-group">
                <input type="text" name="dates" id="abgdatumzeitRange" class="form-select" placeholder="&#128197; Zeitraum auswählen für" />
                <select id="dateColumnFilter" class="form-select">
                    <option value="datum">Datum</option>
                    <option value="fällig">Fälligkeit</option>
                    <option value="log_date">Bestätigung</option>
                </select>
            </div>
        </div>
        <div class="col-sm">
            <input type="text" id="pasteInvoices" class="form-control" placeholder="&#129534; Rechnungsnummern einfügen" aria-label="Max RGLNR">
        </div>
    </div>
    <table id="logRGLNRTable" class="display" style="width:100%" float="left">
        <thead>
            <tr>
                <th>Rechnungslistennummer</th>
                <th>Rechnungsnummer</th>
                <th>Datum</th>
                <th>Fällig</th>
                <th>Bestätigungsdatum</th>
                <th>Rechnungsbetrag</th>
                <th>EDI-Rechnung</th>
                <th>Lobster Profil</th>
            </tr>
        </thead>
    </table>
</body>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-1.13.10/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/cr-1.7.0/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        document.querySelectorAll('.dropdown-item').forEach(item => {
            item.addEventListener('click', function () {
                var value = this.getAttribute('data-value'); 
                document.getElementById('companyFilter').value = value; 

                var event = new Event('change');
                document.getElementById('companyFilter').dispatchEvent(event);

                document.getElementById('navbarDropdown').textContent = this.textContent;
            });
        });

        moment.locale('de');
        $(document).ready(function () {
            var table = $('#logRGLNRTable').DataTable({
                "processing": true,
                "serverSide": true,
                "colReorder": true,
                "dom": "lfrBtip",
                "iDisplayLength": 10,
                "oLanguage": {
                    "sUrl": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json",
                    "sSearch": "&#128269; Allgemeine Suche:"
                },
                buttons: [
                              {
                extend: 'copy',
                    exportOptions: {
                        columns: ':visible'
                    },
                    text: 'Kopieren'
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    },
                    text: 'Drucken'
                }, 
                { 
                    extend: 'colvis', 
                    text: 'Spalten ein- und ausblenden' 
                } 
                ],

                "lengthMenu": [[5, 10, 25, 50, 100, 200, 100000], [5, 10, 25, 50, 100, 200, "Alle | ⚠ Nur auf gefilterte Daten anwenden ⚠"]],

                "ajax": {
                    "url": "@Url.Action("LoadData", "LOG_RGLNR")", 
                    "type": "POST",
                    "data": function (d) {
                        d.minRGLNR = $("#minRGLNR").val();
                        d.maxRGLNR = $("#maxRGLNR").val();
                        d.pasteInvoices = $("#pasteInvoices").val();
                        var dateRangePicker = $("#abgdatumzeitRange").data('daterangepicker');
                        if ($("#abgdatumzeitRange").val()) {
                            var selectedColumn = $('#dateColumnFilter').val();
                            if (selectedColumn === 'datum') {
                                d.startDate = dateRangePicker.startDate.format("YYYY-MM-DD HH:mm");
                                d.endDate = dateRangePicker.endDate.format("YYYY-MM-DD HH:mm");
                                d.faelligStart = null;
                                d.faelligEnd = null;
                                d.bestaetigungStart = null;
                                d.bestaetigungEnd = null;
                            } else if (selectedColumn == 'fällig') {
                                d.faelligStart = dateRangePicker.startDate.format("YYYY-MM-DD HH:mm");
                                d.faelligEnd = dateRangePicker.endDate.format("YYYY-MM-DD HH:mm");
                                d.startDate = null;
                                d.endDate = null;
                                d.bestaetigungStart = null;
                                d.bestaetigungEnd = null;
                            } else if (selectedColumn == 'log_date') {
                                d.startDate = null;
                                d.endDate = null;
                                d.faelligStart = null;
                                d.faelligEnd = null;
                                d.bestaetigungStart = dateRangePicker.startDate.format("YYYY-MM-DD HH:mm");
                                d.bestaetigungEnd = dateRangePicker.endDate.format("YYYY-MM-DD HH:mm");
                            } else {
                                d.startDate = null;
                                d.endDate = null;
                                d.faelligStart = null;
                                d.faelligEnd = null;
                                d.bestaetigungStart = null;
                                d.bestaetigungEnd = null;
                            }
                            d.companyPrefix = $('#companyFilter').val();
                        }
                    }
                },
                "columns": [
                    { "data": "rglnr" },
                    { "data": "rechnung" },
                    { "data": "datum", "render": function (data) { return moment(data).format("DD.MM.YYYY"); } },
                    { "data": "fällig", "render": function (data) { return moment(data).format("DD.MM.YYYY"); } },
                    {
                        "data": "log_date", "render": function (data) {
                            if (data === "0001-01-01T00:00:00") {
                                return ''
                            } else {
                                return moment(data).format("DD.MM.YYYY");
                            }
                        }
                    },
                    { "data": "rechnungsbetrag" },
                    { 
                        "data": "ediStatus", "name": "EDIStatus", "autoWidth": true,
                        "render": function (data, type, row) {
                            if (data === "Übertagen") {
                                return "Ja"
                            } else if (data === "Bereit") {
                                return "Nein"
                            } else {
                                return data; 
                            }
                        }
                    },
                    { "data": "profile_name" }
                ],
                "order": [[2, "desc"]]
            });
            $('#abgdatumzeitRange').daterangepicker({
                
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Zurücksetzen',
                    applyLabel: 'Anwenden',
                    format: "DD.MM.YYYY HH:mm"
                }
            });

            $('#abgdatumzeitRange').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD HH:mm') + ' - ' + picker.endDate.format('YYYY-MM-DD HH:mm'));
                table.draw();
            });

            $('#abgdatumzeitRange').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
                table.draw();
            });
            $('#dateColumnFilter').on('change', function () {
                if ($("#abgdatumzeitRange").val()) {
                    table.draw();
                }
            });

            $("#minRGLNR, #maxRGLNR").keyup(function() {
                table.draw();
            });
            $("#pasteInvoices").keyup(function () {
                table.draw();
            });
            $('#companyFilter').on('change', function() {
                table.draw();
            });
        });
    </script>
}

